{% extends "../_layouts/auth.njk" %}

{% block body %}

<form id="form-change-password" action="/app/profile/{{ user.id }}?_method=PUT" method="POST">

  <h2>Alterar senha</h2>

  {% include "../_partials/flash.njk" %}

  <input type="password" name="password" id="password" placeholder="Senha atual" />

  <input type="password" name="password1" id="password1" placeholder="Nova senha" />

  <input type="password" name="password2" id="password2" placeholder="Senha novamente" />

  <button type="submit">Alterar Senha</button>

  <a href="/">Voltar</a>
</form>

{% endblock %}
